<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">RecipeBook</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="recipes" aria-current="page" href="#">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="myrecipes">My Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="favorites">Favorites</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <img routerLink="start" class="d-none d-lg-block d-m-block" id="avatar" src="../assets/avatar-placeholder.png">
        <button routerLink="start" class="btn mt-2 d-lg-none btn-outline-success">Login</button>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
