<div class="container recipeContainer mt-4">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col">
      <h1>recipe.title <i class="bi bi-star"></i></h1>

      <div>
        <button (click)="report('recipe', recipe.recipeId)" class="btn btn-outline-dark" style="font-size: 10px">
          report
        </button>
      </div>
      <div id="tags" class="mt-4">
        <div *ngFor="let tag of recipe.tags" class="badge badge-pill alert-dark">
          {{ tag.title }}
        </div>
      </div>

      <h4>{{recipe.description}}</h4>
      <img src="../../../assets/plate.jpeg" alt="recipe_picture" />
    </div>

    <div class="col">
      <h3>Ingredients</h3>
      <p *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.amount}} {{ingredient.unit.title}} {{ingredient.description}}<br />
      </p>
    </div>

    <div class="col">
      <h3>Cooking steps</h3>
      <p *ngFor="let step of recipe.steps">
        {{step.order}}. {{step.description}}
      </p>
    </div>
  </div>
  <div class="row">
    <h2>Comments</h2>
    <form>
      <textarea [(ngModel)]="comment">

      </textarea>
    </form>

    <div
      *ngFor="let comment of recipe.comments"
      class="row justify-content-md-center pb-2 mb-4"
      style="border-bottom: 1px solid black"
    >
      <div class="col-md-auto">
        <img
          src="../../../assets/avatar-placeholder.png"
          alt="profilepicture"
          style="width: 60px"
        />
      </div>
      <div class="col">
        <p>
        comment.description
        </p>
        <p>comment.date</p>
      </div>
      <div class="col-md-auto">
        <i class="bi bi-hand-thumbs-up" style="font-size: 24px; cursor: pointer;"></i>
      </div>
      <div class="col-md-auto">
        <button (click)="report('comment', comment.commentId)" class="btn btn-outline-dark" style="font-size: 10px">
          report
        </button>
      </div>
    </div>
  </div>
</div>
