<div class="container tableContainer mt-4">
  <button routerLink="/myrecipes/create" class="btn btn-outline-dark mb-4 mt-4">New Recipe</button>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Tags</th>
              <th scope="col">Likes</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recipe of recipes">
              <th scope="row">{{recipe.title}}</th>
              <td><span *ngFor="let tag of recipe.tags">{{tag.title}} </span></td>
              <td>{{recipe.likes.length}}</td>
              <td><a (click)="editRecipe(recipe)"><i class="bi bi-pencil-fill"></i></a></td>
              <td><i class="bi bi-trash"></i></td>
            </tr>
          </tbody>
    </table>
  </div>
</div>