<div class="container mt-4">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Tags</th>
              <th scope="col">Likes</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Floursoup</th>
              <td>Soup Vegetarian</td>
              <td>4</td>
              <td><a routerLink="/recipes/detail"><i class="bi bi-pencil-fill"></i></a></td>
              <td><i class="bi bi-trash"></i></td>
            </tr>
            <tr>
              <th scope="row">Chili Burger</th>
              <td>Burger Meat Spicy</td>
              <td>2</td>
              <td><a routerLink="/recipes/detail"><i class="bi bi-pencil-fill"></i></a></td>
              <td><i class="bi bi-trash"></i></td>
            </tr>
            <tr>
              <th scope="row">Nasi Goreng</th>
              <td>Noodles Asian</td>
              <td>9</td>
              <td><a routerLink="/recipes/detail"><i class="bi bi-pencil-fill"></i></a></td>
              <td><i class="bi bi-trash"></i></td>
            </tr>
          </tbody>
    </table>
  </div>
</div>