<div class="container tableContainer mt-4">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Tags</th>
                  <th scope="col">Likes</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th routerLink="/recipes/detail" style="cursor: pointer;" scope="row">Floursoup</th>
                  <td>Soup, Vegetarian</td>
                  <td>4</td>
                  <td><i class="bi bi-dash-circle"></i></td>
                </tr>
                <tr>
                  <th routerLink="/recipes/detail" style="cursor: pointer;"  scope="row">Chili Burger</th>
                  <td>Burger, Meat, Spicy</td>
                  <td>2</td>
                  <td><i class="bi bi-dash-circle"></i></td>
                </tr>
                <tr>
                  <th routerLink="/recipes/detail" style="cursor: pointer;"  scope="row">Nasi Goreng</th>
                  <td>Noodles, Asian</td>
                  <td>9</td>
                  <td><i class="bi bi-dash-circle"></i></td>
                </tr>
              </tbody>
        </table>
      </div>
    </div>