/* You can add global styles to this file, and also import other style files */

#logo {
    width: 200px;
}
.bg-light{
    background-color: white !important;
}
header, nav{
    background: white !important;
    border-bottom: 1rem solid #FF8776;
}
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    /* background: #F8FFFA !important; */
    /* background: repeating-linear-gradient(to top right,rgb(11, 255, 92) 2.6%,rgb(255, 255, 255) 2.8%,rgb(255, 252, 47) 3.3%) !important; */
    background: repeating-linear-gradient(to top right,rgb(255, 255, 255) 1.8%,rgb(255, 252, 47) 2.3%) !important;

}

  h1,h2,h3,h4,h5,h6 {
      font-family: 'Roboto', sans-serif;
  }

#tags .badge{
    cursor: pointer;
    font-size: 1.5em !important;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.btnCol{
    max-width: 24px;
}

.card{
    border: 0.2rem solid black !important;
    border-radius: 0.5rem !important;
}

.tableContainer, .formContainer, .recipeContainer, #welcome{
    background: white;
    border: 0.2rem solid black !important;
    border-radius: 0.5rem !important;
}

.active{
    background: rgb(255, 252, 47);
}

.alert-dark{
    background-color: white !important;
    border: 0.1rem solid black !important;
    border-radius: 0.25rem !important;
}

.card-text{
    font-weight: 300;
}

.card-img-top{
    height: 225px;
object-fit: cover;
}