/* You can add global styles to this file, and also import other style files */

#logo {
    width: 200px;
}
header{
    background-color: #5EA67A;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.badge{
    cursor: pointer;
    font-size: 1.5em !important;
    margin-right: 0.5rem;
}